
<div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <app-search [(searchValue)]="textParent"/>
            <p>TextParent : {{textParent | truncate:25:" (...)"}}</p>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a routerLink="">Homepage</a></li>
            @if (auth.isLogged) {
              <li><a routerLink="editor/0">Nouvel Article</a></li>
              <li><button (click)="auth.logout()">LogOut</button></li>
            } @else {
              <li><a routerLink="auth/login">Login</a></li>
              <li><a routerLink="auth/register">Register</a></li>
            }
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Ante interdum</h2>
          </header>
          <div class="mini-posts">
            <app-mini-post [minipost]="minipost1"/>
            <app-mini-post [minipost]="{
                text: 'Lorem',
                href: '##',
                imageAlt: '',
                imageSrc: 'pic05.jpg'
              }"/>
            <!--<app-mini-post minipost="{{minipost1}}"/>-->
            <!--<ng-container *ngFor="let minipost of miniposts">
                <app-mini-post  *ngIf="minipost.imageSrc" [minipost]="minipost"/>
            </ng-container>-->
            @for(minipost of miniposts | slice:2; track $index) {
                @if(minipost.imageSrc) {
                    <app-mini-post [minipost]="minipost"/>
                }
            }
          </div>
          <ul class="actions">
            <li><a href="#" class="button" (click)="onMoreButtonClick()">More</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
          <ul class="contact">
            <li class="icon solid fa-envelope"><a href="#">informationuntitled.tld</a></li>
            <li class="icon solid fa-phone">(000) 000-0000</li>
            <li class="icon solid fa-home">1234 Somewhere Road #8254<br />
            Nashville, TN 00000-0000</li>
          </ul>
        </section>

      <!-- Footer -->
       <app-footer/>
    </div>
  </div>
