<form (submit)="onSubmit(formElement)" #formElement>
    <label> Email :
      <input [class.invalid]="!emailInput.checkValidity()" type="email" name="mail" [(ngModel)]="email" required #emailInput>
    </label>
    <label> Password :
      <input [class.invalid]="!passwordInput.checkValidity()" 
        type="password" name="password" [(ngModel)]="password" 
        required minlength="6" #passwordInput>
    </label>
    <div>
      <input type="checkbox" id="remember" name="remember" [(ngModel)]="service.useLocal">
      <label for="remember">Remember Me</label> 
    </div>
    <input [disabled]="!formElement.checkValidity()" type="submit" value="Enregistrer">
</form>
